<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<style>
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

</style>>

<body>
    <!-- {% block content %}
    {% endblock %} -->
</body>

<footer>
    <p>© 2023 Abhishek kushwaha</p>
</footer>
</html> 
